.btn {
  background-color: black;
  color: yellow;
  margin-top: 10px;
}
.inpBtn {
  background-color: #d1d1d1;
  padding: 6px;
  margin-right: 20px;
  font-size: medium;
}
.out {
  width: 100%;
  background-color: #262626;
  color: white;
  border: 1px solid white;
}
